.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.header p {
  width: 40%;
  padding-top: 5%;
  padding-left: 5%;
}

@media (max-width: 850px) {
  img {
    width: 40%;
    height: 100%;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  .header p {
    width: 70%;
    padding-top: 5%;
  }
  .margin ul li {
    margin: 2% 10%;
  }
}

@media (min-width: 850px) {
  img {
    width: 30%;

    height: 100%;
  }
}

@media (min-width: 1400px) {
  img {
    width: 20%;

    height: 100%;
  }
}
