.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 10%;
    padding: 5%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.779);
    border-radius: 5px;
}

.details button a {
    color: white;
}

.details button {
    width: 160px !important;
    margin: 1%;
}

@media (min-width: 700px) {
    .buttons {
        display: flex;
    }
}

  button a {
    width: 100%;
  }

  .basicInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    padding: 2%;
    font-size: large;
    background-color: #f1ebee19;
  }
.basicInfo p {
    padding: 5%;
}

table {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #d9bbca19;
    border-radius: 5px;
    width: 50%;
}

 .budget svg, .date svg {
    width: 30%;
    height: auto;
 }

 label {
    margin-top: 10%;
  }
  
  input, select {
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  select {
    width: 40%; 
  }
  input {
    width: 100%;
  }
  
  
  @media (max-width: 700px) {
    
    form, .schedule {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      background-color: rgba(255, 255, 255, 0.779);
      border-radius: 5px;
      padding: 7%;
      margin: 0%;
    }
    
  }
  
  @media (min-width:700px) and (max-width: 900px) {
    form, .schedule {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      background-color: rgba(255, 255, 255, 0.779);
      border-radius: 5px;
      padding: 7%;
      margin: 10%;
  }
  
  }
  
  @media (min-width: 900px) {
    form, .schedule {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      background-color: rgba(255, 255, 255, 0.779);
      border-radius: 5px;
      padding: 10%;
      margin: 5% 20%;
  }
  form img {
    margin-top: -10%;  
  }
  }
  
  .details .newWedding .budget, .details .newWedding .guestAdd {
    display: flex;
    flex-direction: row;
  }
  
  .details .newWedding .venues,.details  .newWedding .vendors,.details  .newWedding .guests {
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.779);
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
  } 
  
  .details .remove {
    width: 20px;
    height: 20px;
    padding: 0;
  }
  
  .details .newWedding .guest, .details .newWedding .venue, .details .newWedding .vendor {
    display: flex;
    width: 170px;
    border: 1px solid rgb(180, 178, 178);
    justify-content: space-between;
    padding: 1%;
    margin: 2%;
  }
  
  .details .newWedding ul {
    padding-left: 0 !important;
  }
  
  .details .submitButton {
    margin: 5%
  }
  
  .details .guests ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .details .venues thead tr th, .details .vendors thead tr th, .details .listing table thead tr th{
    text-align: center;
  }
  .details .venues *, .details .vendors *, .details .listing *{
    padding: 10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.197);
    border-top: 1px solid  rgba(0, 0, 0, 0.197);
  }
  
  .details .guestList {
    width: 70% !important;
  }
  
  .details .guestList ul {
    padding-left: 0%;
  }
  
  .details .listing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  
  .details .listing ul {
    margin: 6%;
  }