.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 10%;
    padding: 5%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.779);
    border-radius: 5px;
}

.details button a {
    color: white;
}

.details button {
    width: 160px !important;
    margin: 1%;
}

@media (min-width: 700px) {
    .buttons {
        display: flex;
    }
}

  button a {
    width: 100%;
  }

  .basicInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    padding: 2%;
    font-size: large;
    background-color: #f1ebee19;
  }
.basicInfo p {
    padding: 5%;
}

table {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #d9bbca19;
    border-radius: 5px;
    width: 50%;
}

 .budget svg, .date svg {
    width: 30%;
    height: auto;
 }