*,
*:after,
*:before {
  box-sizing: border-box;
}

.stack {
  width: 42.5%;
  max-width: 200px;
  transition: 0.25s ease;
  &:hover {
    transform: rotate(5deg);
    .card:before {
      transform: translatey(-2%) rotate(-4deg);
    }
    .card:after {
      transform: translatey(2%) rotate(4deg);
    }
  }
}

.card {
  aspect-ratio: 3 / 2;
  border: 1.7px solid rgba(0, 0, 0, 0.605);
  border-radius: 1px;
  background-color: #fff;
  position: relative;
  transition: 0.15s ease;
  cursor: pointer;
  padding: 5% 5% 15% 5%;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1.7px solid rgba(0, 0, 0, 0.605);
    border-radius: 1px;
    background-color: #fff;
    transform-origin: center center;
    z-index: -1;
    transition: 0.15s ease;
    top: 0;
    left: 0;
  }

  &:before {
    transform: translatey(-2%) rotate(-6deg);
  }

  &:after {
    transform: translatey(2%) rotate(6deg);
  }
}

.wedding {
  width: 100%;
  border: 1.7px solid rgba(0, 0, 0, 0.605);
  border-radius: 1px;
  background-color: #eee;
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.weddings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.weddings .stack {
  margin: 5%
}